
  <mat-toolbar  [ngStyle]="{background:'#0AA1DD' , color:'#fff'}" style="padding:43px 0px">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <img src="../../../assets/trolley.png" alt="" style="width: 32px; height: 36px; margin-left:42px;" >
    </button>
    <small style="margin-left:52px;" class="mat-small">Welcome Aniket Chavan</small>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="margin-right:42px;">
      <mat-icon>shopping_cart</mat-icon>
      <mat-icon>looks_6</mat-icon>
    </button>

  </mat-toolbar>

