<div >

  <mat-card class="container">
    <mat-grid-list cols="15" rowHeight="2:1" >
      <mat-grid-tile colspan='1'>1</mat-grid-tile>
      <mat-grid-tile colspan='2'><img src="../../../assets/bottle.png" alt="" style="width: 32px; height: 36px"></mat-grid-tile>
      <mat-grid-tile colspan='5'>Coco Cola</mat-grid-tile>
      <mat-grid-tile colspan='2'><button style="background-color: #4CAF50; border: none;color: white;">+</button><button style="background-color: #e93232; border: none;color: white;">-</button> <span class="text">1 Pc</span></mat-grid-tile>
      <mat-grid-tile colspan="2">50</mat-grid-tile>
      <mat-grid-tile colspan="2">100</mat-grid-tile>
    </mat-grid-list>
  </mat-card>


  <mat-card class="container">
    <mat-grid-list cols="15" rowHeight="2:1" >
      <mat-grid-tile colspan='1'>2</mat-grid-tile>
      <mat-grid-tile colspan='2'><img src="../../../assets/laptop.png" alt="" style="width: 32px; height: 36px"></mat-grid-tile>
      <mat-grid-tile colspan='5'>Laptop</mat-grid-tile>
      <mat-grid-tile colspan='2'><button style="background-color: #4CAF50; border: none;color: white;">+</button><button style="background-color: #e93232; border: none;color: white;">-</button> <span class="text">4 Pc</span></mat-grid-tile>
      <mat-grid-tile colspan="2">100500</mat-grid-tile>
      <mat-grid-tile colspan="2">100500</mat-grid-tile>
    </mat-grid-list>
  </mat-card>


  <mat-card class="container">
    <mat-grid-list cols="15" rowHeight="2:1" >
      <mat-grid-tile colspan='1'>3</mat-grid-tile>
      <mat-grid-tile colspan='2'><img src="../../../assets/apple.png" alt="" style="width: 32px; height: 36px"></mat-grid-tile>
      <mat-grid-tile colspan='5'>Apple</mat-grid-tile>
      <mat-grid-tile colspan='2'><button style="background-color: #4CAF50; border: none;color: white;">+</button><button style="background-color: #e93232; border: none;color: white;">-</button> <span class="text">2 Pc</span></mat-grid-tile>
      <mat-grid-tile colspan="2">50</mat-grid-tile>
      <mat-grid-tile colspan="2">100</mat-grid-tile>
    </mat-grid-list>
  </mat-card>


  <mat-card class="container">
    <mat-grid-list cols="15" rowHeight="2:1" >
      <mat-grid-tile colspan='1'>4</mat-grid-tile>
      <mat-grid-tile colspan='2'><img src="../../../assets/soap.png" alt="" style="width: 32px; height: 36px"></mat-grid-tile>
      <mat-grid-tile colspan='5'>Soap</mat-grid-tile>
      <mat-grid-tile colspan='2'><button style="background-color: #4CAF50; border: none;color: white;">+</button><button style="background-color: #e93232; border: none;color: white;">-</button> <span class="text">4 Pc</span></mat-grid-tile>
      <mat-grid-tile colspan="2">150</mat-grid-tile>
      <mat-grid-tile colspan="2">1100</mat-grid-tile>
    </mat-grid-list>
  </mat-card>


  <mat-card class="container">
    <mat-grid-list cols="15" rowHeight="2:1" >
      <mat-grid-tile colspan='1'>5</mat-grid-tile>
      <mat-grid-tile colspan='2'><img src="../../../assets/pen.png" alt="" style="width: 32px; height: 36px"></mat-grid-tile>
      <mat-grid-tile colspan='5'>Pen</mat-grid-tile>
      <mat-grid-tile colspan='2'><button style="background-color: #4CAF50; border: none;color: white;">+</button><button style="background-color: #e93232; border: none;color: white;">-</button> <span class="text">7 Pc</span></mat-grid-tile>
      <mat-grid-tile colspan="2">50</mat-grid-tile>
      <mat-grid-tile colspan="2">100</mat-grid-tile>
    </mat-grid-list>
  </mat-card>


  <mat-card class="container">
    <mat-grid-list cols="15" rowHeight="2:1" >
      <mat-grid-tile colspan='1'>6</mat-grid-tile>
      <mat-grid-tile colspan='2'><img src="../../../assets/teddy-bear.png" alt="" style="width: 32px; height: 36px"></mat-grid-tile>
      <mat-grid-tile colspan='5'>Teddy Bear</mat-grid-tile>
      <mat-grid-tile colspan='2'><button style="background-color: #4CAF50; border: none;color: white;">+</button><button style="background-color: #e93232; border: none;color: white;">-</button> <span class="text">2 Pc</span></mat-grid-tile>
      <mat-grid-tile colspan="2">150</mat-grid-tile>
      <mat-grid-tile colspan="2">1100</mat-grid-tile>
    </mat-grid-list>
  </mat-card>


  <mat-card class="container">
    <mat-grid-list cols="15" rowHeight="2:1" >
      <mat-grid-tile colspan='1'>7</mat-grid-tile>
      <mat-grid-tile colspan='2'><img src="../../../assets/bottle.png" alt="" style="width: 32px; height: 36px"></mat-grid-tile>
      <mat-grid-tile colspan='5'>Coco Cola</mat-grid-tile>
      <mat-grid-tile colspan='2'><button style="background-color: #4CAF50; border: none;color: white;">+</button><button style="background-color: #e93232; border: none;color: white;">-</button> <span class="text">4 Pc</span></mat-grid-tile>
      <mat-grid-tile colspan="2">50</mat-grid-tile>
      <mat-grid-tile colspan="2">100</mat-grid-tile>
    </mat-grid-list>
  </mat-card>


</div>
